@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --MainTextStyle: 'DM Sans';
    --LogoTextStyle: 'Roboto Condensed';
    --Roboto: 'Roboto'
}

.subtitle {
    font-family: var(--MainTextStyle);
    font-size: 16px;
    font-weight: 500;
}

.main-title {
    font-family: var(--MainTextStyle);
    font-size: 34px;
    font-weight: 700;
}